<div class="container">
    <div class="row">
        <div class="my-3 col-12 text-center">
            <h1>Adaptive Study Mode: {{deckName}}</h1>
        </div>
    </div>
    <div class="row">
      <div id="card" class="col-8 offset-2 border text-center d-flex align-items-center justify-content-center">
        <p class="h3" *ngIf="isCardFrontShowing">{{currentCardObj.cardFront}}</p>
        <p class="h3" *ngIf="!isCardFrontShowing">{{currentCardObj.cardBack}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-2 offset-3 text-center my-3 p-3">
          <button id="flip-btn" type="button" class="btn btn-primary" (click)="onClickFlipButton($event)">Flip card</button>
        </div>
        <div class="col-2 text-center my-3 p-3">
          <button id="next-btn" type="button" class="btn btn-secondary" (click)="onClickNextButton($event)">Next Card</button>
        </div>
        <div class="col-2 text-center my-3 p-3">
          <button id="reset-weights-btn" type="button" class="btn btn-info" (click)="onClickResetWeightButton($event)">Reset deck</button>
        </div>
    </div>
    <div class="row" *ngIf="!isCardFrontShowing">
        <div class="col-2 offset-4 text-center my-3 p-3">
            <button id="correct-answer-btn" type="button" class="btn btn-success" (click)="onClickCorrectButton($event)">Correct</button>           
        </div>
        <div class="col-2 text-center my-3 p-3">
            <button id="incorrect-answer-btn" type="button" class="btn btn-danger" (click)="onClickIncorrectButton($event)">Incorrect</button>
        </div>
    </div>
</div>
