<div class="container">
    <div class="row">
        <div class="my-3 col-12 text-center">
            <h1>Welcome to FlashPrep!</h1>
        </div>
    </div>
    <div class="row">
        <div class="my-3 col-12 text-center">
            <h3>The #1 site to prepare you for any test</h3>
        </div>
    </div>
    <div class="row">
        <div class="account-card h5 my-3 col-6 text-center border d-flex align-items-center justify-content-center">
            <div>
            <p>New to FlashPrep? Create an account to start studying the right way. It's free!</p>
            <button id="home-page-signup-btn" type="button" class="account-btn btn btn-primary" routerLink="signup">Create account</button>
        </div>
        </div>
        <div class="account-card h5 my-3 col-6 text-center border d-flex align-items-center justify-content-center">
            <div>
            <p>Already have an account? Log in to continue your journey to success!</p>
            <button id="home-page-login-btn" type="button" class="account-btn btn btn-success" routerLink="login">Log In</button>
        </div>
        </div>
    </div>
</div>